.article-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-count {
    color: #ff6464;
    font-size: 64px;
}

.password-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 335px);
    width: 950px;
    row-gap: 20px;
}