.password-card {
    width: 335px;
    height: 70px;
    padding: 0 24px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #e5e5e5;
}

.password-card:hover {
    cursor: pointer;
}

.password-card-copied {
    width: 335px;
    height: 70px;
    padding: 0 24px;
    border-radius: 10px;
    background-color: #FF6464;
    color: #fff;
}